:root {
    --content-text-size: 0.8rem;
    --dark-grey-color: rgb(102, 102, 102);
    --midium-grey-color: rgb(131, 131, 131);
    --light-grey-color: rgb(200, 200, 200);
    --light-grey-color1: rgb(220, 220, 220);
    --light-grey-color2: rgb(161, 161, 161);
    --red-orange-color: rgb(248, 84, 43);
    --left-right-space: 13rem;
    --white: white;
    --heading-big: 1.5rem;
    --heading-medium: 1.2rem;
    --heading-small: 0.8rem;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    background-color: var(--white);
    word-break: break-word;
}

#wrapper {
    margin: auto;
    max-width: 1440px;
}


/* navbar */
nav {
    background-color: var(--light-grey-color1);
    overflow: hidden;
    padding: 3rem var(--left-right-space) var(--left-right-space);
}


nav a {
    text-decoration: none;
    color: var(--light-grey-color1)
}

nav>ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin-left: 30px;
}

nav ul .logo {
    margin-left: 0;
    margin-right: auto;
    display: inline-block;
}


.links {
    color: var(--dark-grey-color)
}

.link-clicked {
    color: var(--red-orange-color);
    padding: 0 0 0.5rem 0;
    border-bottom-style: solid;
    border-width: 1px;
}


/* button */
.button {
    color: var(--white);
    background-color: var(--red-orange-color);
    border: 1px solid var(--red-orange-color);
    border-radius: 3px;
    padding: 10px 30px 10px 30px;
    border-width: 0;
    cursor: pointer;
    transition-duration: 100ms;
    box-sizing: border-box;
}

.button:hover {
    background-color: var(--white);
    color: var(--red-orange-color);
    border: 1px solid var(--red-orange-color);
}

.outline-button {
    color: var(--red-orange-color);
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 10px 25px 10px 25px;
    border: 1px solid var(--red-orange-color);
    cursor: pointer;
    transition-duration: 100ms;
}

.outline-button:hover {
    color: var(--white);
    background-color: var(--red-orange-color);
    border: 1px solid var(--red-orange-color);
    border-radius: 3px;
}


/* Latest Blogs */
.blogs-div {
    margin: 1rem var(--left-right-space) 1rem;
    padding: 0.6rem 3rem 0.6rem 3rem;
    border-style: none;
    border-radius: 0.5rem;
    transform: translateY(-6rem);
    background-color: var(--white);
    box-shadow: 0px 3px 15px rgb(230, 230, 230);
}

.blogs-header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.blogs-header>div {
    display: inline-block
}

.blogs-header .title {
    margin-right: auto;
}

.blogs {
    padding: 0 1rem 0 1rem;

}


/* for single blogs */
.single-blog {
    position: relative;
    display: flex;
    font-size: var(--content-text-size);
    margin-bottom: 1rem;
}

.single-blog img {
    position: relative;
    width: 25%;
}

.single-blog .blog-content {
    position: relative;
    padding: 0 1rem 2rem 1rem;
    width: 50%
}

.single-blog .button {
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
}

.single-blog heading-medium {
    font-size: 1.2rem;
}

.blog-content p {
    color: var(--dark-grey-color)
}

.single-blog .blog-comment {
    color: var(--light-grey-color);
    box-sizing: border-box;
    width: 25%;
    margin: 0;
    padding: 1rem;
    align-items: center;
    display: flex;
    align-items: center;
}

.blog-comment div {
    padding-left: 1rem;
    line-height: 1.5rem;
    border-left: 1px solid var(--light-grey-color);
}

.single-blog .blog-comment p {
    /* margin: ; */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

.blogs-div .blogs-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: var(--content-text-size);
}

.slider-navigation-button {
    display: flex;
    justify-content: center;
}

.latest-blog-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.latest-blog-footer span {
    font-size: var(--heading-big);
    color: var(--light-grey-color2);
    margin: 0.5rem;
}

.latest-blog-view-more {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


/* Blog posts, slider*/
.blog-posts {
    margin: 2rem var(--left-right-space) 2rem;
}

.blog-posts-header {
    text-align: center;
    font-size: var(--heading-big);
}


/* blog slider card */
.blog-slider-card {
    background-color: var(--white);
    border-radius: 4px;
    width: 18rem;
    margin: 1rem 0.7rem;
    height: 20rem;
    padding-bottom: 4rem;
    padding-top: 1.2rem;
    position: relative;
    overflow: ellipsis;
    box-shadow: 0px 3px 10px var(--light-grey-color);
}

.blog-slider-card .blog-content {
    color: var(--dark-grey-color1);
    font-size: var(--heading-small);
    overflow: hidden;
}

.blog-slider-card heading-medium {
    font-size: var(--heading-medium)
}

.blog-card-header {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-author {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.8rem;
}

.blog-author-name {
    color: var(--red-orange-color);
    font-size: var(--heading-small)
}

.blog-author .blog-date {
    flex-basis: 6rem;
    margin-left: 0.5rem;
    color: var(--dark-grey-color);
    font-size: var(--content-text-size);
}

.radio-name {
    color: var(--dark-grey-color);
    font-size: var(--content-text-size);
}

.blog-card-header {
    border-left: 2px solid var(--red-orange-color);
}

.blog-card-header,
.blog-details {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.blog-card-button {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

.navigation-btn {
    margin: 1rem;
    cursor: pointer;
}


/* about-section */
.about-section {
    margin: 1rem var(--left-right-space);
    display: flex;
    justify-content: space-between;
}

.about-section heading-small {
    margin-bottom: 0.8rem;
}


.about-section a {
    text-decoration: none;
}

.about-section li {
    list-style: none;
}

.about-section ul {
    padding: 0rem 0.5rem;
    margin-top: 0rem;
}

.about-jtgpod {
    padding: 1rem;
    flex-basis: 40rem;
}

.social-link {
    display: inline-block;
    text-align: center;
    padding: 1rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--red-orange-color);
    border-radius: 50%;
    margin-right: 1rem;
}


/* pages */
.about-pages {
    padding: 1rem;
    flex-basis: 15rem;
}

.about-pages heading-small {
    padding-left: 0.5rem;
    margin-bottom: 0.8rem;
}

.about-jtgpod .description {
    color: var(--light-grey-color2)
}

.about-pages .page-link {
    display: inline-block;
    color: var(--light-grey-color2);
    line-height: 2rem;
}


/* blogs */
.about-recent-blogs {
    padding: 1rem;
    flex-basis: 25rem;
}

.about-recent-blogs heading-small {
    padding-left: 0.5rem;
}

.about-partners {
    padding: 1rem;
    flex-basis: 15rem;
}

.about-partners a {
    display: inline-block;
    margin-bottom: 1rem;
}

.about-partners div {
    padding-top: 0.4rem;
}

.blog-link {
    display: inline-block;
    color: var(--light-grey-color2);
    line-height: 2rem;
}


/* footer */
footer {
    margin: 1rem var(--left-right-space);
}

.footer-copyright {
    margin: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--light-grey-color1);
    padding: 2rem 0 4rem;
}

.footer-copyright p {
    color: var(--light-grey-color2);
    display: inline-block;
    text-align: center;
}